/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #eee;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.title{
	font-size: 40px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.center{
	text-align:center;
	margin: 0px auto;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.warning{
	color: red !important;
}
/* Table treat break word when word is longer than column */
table{
	table-layout: fixed;
	width: 100%;
	word-wrap:break-word;
	word-break:break-all;
}

td{
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space:nowrap;
}

code {
  font-size: 80%;
}